// 1. FUNCTIONS
// ============

// 2.1 _elsass-valid-width
// ------------------------
@function _elsass-valid-width($width) {
  $out: null;
  $first: nth($width, 1);

  @if type-of($width) == number {
    $out: ('width': $width);
  } @else if type-of($width) == list {
    @if length($width) >= 3 {
      $elsass-config: map-merge($elsass-config, ('cols': nth($width, 3))) !global;
    }
    @if length($width) == 2 or length($width) == 4 {
      $out: ('max-width': $first 'max');
    }
  } @else if type-of($width) == string {
    @if $width == 'max' {
      $out: ('max-width': $width);
    } @else {
      @return _elsass-error(
        '"#{$width}" is not a valid value for `$width`.',
        '',
        'The only valid string is: "max"'
      );
    }
  } @else if type-of($width) != number {
    $out: ('max-width': $first 'max');
  }
  
  @return $out;
}
