$layout: (
    s: (
        content-max-width : 480px,
        vertical-spacing  : 12px,
        horizontal-spacing: 8px
    ),
    m: (                           // Each key is used as a breakpoint.
        device-min-width  : 640px, // Media-query min-width (also generates the max-width of the previous breakpoint).
        content-max-width : 800px, // Max-width to optionally apply to containers
        vertical-spacing  : 16px,  // Top and bottom gutters
        horizontal-spacing: 12px   // Right and left gutters
    ),
    l: (
        device-min-width  : 1024px,
        content-max-width : 1000px,
        vertical-spacing  : 24px,
        horizontal-spacing: 16px
    ),
    xl: (
        device-min-width  : 1440px,
        content-max-width : 1280px,
        vertical-spacing  : 32px,
        horizontal-spacing: 24px
    )
);
