.my-grid {
    @include item(false, true, true, true, false, grid) {
        background: #e9edf5;
    };

    @include children("s" "m", 1, true, true);
    @include children("m" "l", 1/4, true, true);
    @include children("l", 1/4 1/8 repeat-last, true, true);
    @include children() {
        background: #d7dfed;
    }

    .item--half {
        @include item("m" "l", 3/4, true nest true false);
        @include item("l", 1/2, false nest nest true);
        background: #c5d1e5;
    }

    .item--last {
        @include item("l", false, true false true auto) {
            background: #b3c3dd;
        };
    }
}
